.contact
  CONTACT
  .contact__wrapper
    %ul.contact__wrapper__list
      %li.contact__wrapper__list__content
        %a{:href => "https://twitter.com/m_nishizawa16"} アンカーテキスト
          = icon('fas', 'envelope')
      %li.contact__wrapper__list__content
        = link_to "#" do
          = icon('fab', 'twitter-square')
      %li.contact__wrapper__list__content
        = link_to "#" do
          = icon('fab', 'facebook-square')
