.contact
  CONTACT
  .contact__wrapper
    %ul.contact__wrapper__list
      %li.contact__wrapper__list__content
        = link_to 'Yahoo', 'http://www.yahoo.co.jp/'
          = icon('fas', 'envelope')
      %li.contact__wrapper__list__content
        = link_to "#" do
          = icon('fab', 'twitter-square')
      %li.contact__wrapper__list__content
        = link_to "#" do
          = icon('fab', 'facebook-square')
